
header{
    display: flex;
    justify-content: space-between;
}
#firsth1 h1{
    position: relative;
    right: 350%;
    margin-top: 2%;

}
.section1{
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding-bottom: 2em;
}
.section1 p{
    padding: 1em;
    color: white;
    position: relative;
    right: 20%;
    text-align: center;
    font-size: xx-large;
}
.section2{
    display: flex;
    justify-content: space-between;
    background-color: brown;
}
.section2 img{
    position: relative;
    right: 5%;
    margin-top: 0%;
    border-radius: 50%;
}
.section2 h1{
    margin-left: 10%;
    text-align: center;
}
.section2 ul{
    font-size: larger;
    font-style: italic;
    font-weight: 400;
}
